@use "sass:math";

@function rem($px) {
  $value: math.div($px, 16) + rem;
  @return $value;
}

@function fluid($min, $pref, $max) {
  $size: clamp(#{rem($min)}, #{$pref}, #{rem($max)});
  @return $size;
}
